/* SECCION INICIO */

.imagen-inicio {

    .item-imagen-inicio {
        width: $ancho;
    }

    h2 {
    @include titulos(nth($font-family, 4), nth($font-size, 7), $aling, $text-uppercase);
    color: nth($color, 8);
    padding: 0 30px 150px 30px;
    text-shadow: $text-shadow;
    }

}
/* FIN SECCION INICIO */


/* SECCION TIENDA INICIO*/
.inicio-tienda {
    background-color: nth($color, 8);
    width: $ancho;
    padding: 100px 20px;

        h1 {
        @include titulos(nth($font-family, 4), nth($font-size, 6), $aling, $text-uppercase);
        letter-spacing: $letter-spacing - 8px;
        color: nth($color, 1);
        padding-top: 25px;
        }

        .subtitulo {
        @include sub-titulos(nth($font-family, 2), nth($font-size, 4), $aling);
        color: nth($color, 2);
        padding: 30px 0;
        }

        .boton-tienda {
        @include sub-titulos(nth($font-family, 3), nth($font-size, 9), $aling);
        display: flex;
        justify-content: center;
        text-decoration: $text-none;
        color: nth($color, 8);
        background-color: nth($color, 3);
        @extend %boton;
        width: 20%;
        margin: 10px auto;
        border: none;

            &:hover {
            background-color: nth($color, 4);
            }
    }

    .contenedor-tienda {
        @extend %flex-3;

        .card-tienda {
        background-color: transparent;
        border-radius: 10px;
        width: 25rem;
        overflow: hidden;
        padding-bottom: 40px;
        padding-top: 23px;
        margin: 0 15px;

        .img-tienda {
        border-radius: 10px 10px 0 0;
        height: 15%;
        @include prefijos2(all 1s ease-in-out);

            &:hover {
            @include prefijos(scale(1.05));
            }
        }

        .favoritos {
            border-radius: 10px 10px 0 0;
            width: 15%;
            cursor: pointer;
            position: relative;
            bottom: 335px;
            left: 200px;

            &:hover {
                background-image: url("../multimedia/favoritos_2.svg");
                background-repeat: no-repeat;
              }
        }

        .titulo-tienda {
        @include titulos(nth($font-family, 6), nth($font-size, 4), $aling, $text-uppercase);
        color: nth($color, 7);
        padding: 0 15px;
        margin-top: 2px;
        }

        .subtitulo-tienda {
        @include sub-titulos(nth($font-family, 1), nth($font-size, 1), $aling,);
        color: nth($color, 7);
        }

        .precio {
        @include sub-titulos(nth($font-family, 3), nth($font-size, 3), $aling);
        color: nth($color, 3);
        }
        }

    }

    .parrafo-fav {
        font-family:  nth($font-family, 1);
        font-size:  nth($font-size, 1);
        color: transparent;
        position: relative;
        top: 10px;
        left: 58px;
        margin: 0;
        }

    .boton {
        @include sub-titulos(nth($font-family, 3), nth($font-size, 9), $aling);
        text-decoration: $text-none;
        color: nth($color, 8);
        background-color: nth($color, 1);
        @extend %boton;
        margin: 0 57px;
        border: none;
        position: relative;
        bottom: 70px;
        align-items: $aling;

            &:hover {
            background-color: nth($color, 2);
            }
    }

    .contenedor-carrito {
        @extend %flex;
        background-color: nth($color, 2);
        position: fixed;
        right: -700px;
        top: 70px;
        z-index: 10000;
        box-shadow: $text-shadow;
        border-radius: 10px;
        padding: 10px;
        width: 40rem;

        .card-carrito {
        background-color:  nth($color, 8);
        border-radius: 10px;
        overflow: hidden;
        margin: 3px;
        @extend %flex;

        .img-carrito {
        border-radius: 10px 10px 0 0;
        width: 20%;
        }

        .titulo-carrito, .precioCarrito {
        font-family:  nth($font-family, 2);
        font-size:  nth($font-size, 1);
        color: nth($color, 7);
        margin: 0;
        padding: 0 10px;
        }

        .cantidadCarrito {
        @include sub-titulos(nth($font-family, 1), nth($font-size, 1), $aling);
        color: nth($color, 7);
        width: 5rem;
        }

        .borrar {
        width: 8%;
        margin: 0 10px;
        cursor: pointer;
        }
        }

    }
        .contenedor-carrito::after{
        --tooltip-bg-color: #377831;
        content: " ";
        position: absolute;
        top: 1px;
        transform: translateX(-50%) translateY(-100%);
        right: 43%;
        border: 12px solid transparent;
        border-bottom: 12px solid var(--tooltip-bg-color);
        }

        .detalleCompra {
            color: nth($color, 8);
            @extend %flex-3;
            margin-top: 13px;

            p {
            @include titulos(nth($font-family, 4), nth($font-size, 1), $aling, $text-uppercase);
            }

            .botonFinalizar{
            @include sub-titulos(nth($font-family, 3), nth($font-size, 1), $aling);
            text-decoration: $text-none;
            color: nth($color, 8);
            background-color: nth($color, 3);
            @extend %boton;
            border: none;
            position: relative;
            bottom: 6px;

                &:hover {
                background-color: nth($color, 4);
                }
            }
        }

    }
/* FIN SECCION TIENDA INICIO*/


/* RECETAS */
.inicio-recetas {
    background-color: nth($color, 8);
    background-image: url("../multimedia/img-recetas.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: $ancho;
    padding: 170px 90px;

    h4 {
        font-family:  nth($font-family, 6);
        font-size:  nth($font-size, 6);
        color: nth($color, 7);
        margin: 0 865px 20px 60px;

    }

    p {
    font-family:  nth($font-family, 3);
    font-size:  nth($font-size, 3);
    margin: 2px;
    color: nth($color, 7);
    margin: 25px 865px 25px 60px;
    }

    .boton-recetas {
        @include sub-titulos(nth($font-family, 3), nth($font-size, 9), $aling);
        text-decoration: $text-none;
        color: nth($color, 8);
        background-color: nth($color, 3);
        @extend %boton;
        margin: 10px 60px;
        border: none;

            &:hover {
            background-color: nth($color, 4);
            }
    }
}
/* FIN RECETAS */

/* Media Querys Header */

/* Mobile */
@media only screen and (max-width: 480px) {
    .imagen-inicio {

        .item-imagen-inicio {
            width: 125%;
            margin-top: 90px;
        }

        h2 {
        @include titulos(nth($font-family, 4), nth($font-size, 4), $aling, $text-uppercase);
        padding: 40px 0 50px 0;
        }
    }

    .inicio-tienda {
        .boton-tienda {
            width: 50%;
        }
    }

    /* RECETAS */
.inicio-recetas {
    width: $ancho;
    padding: 40px 10px;

    h4 {
        font-size:  nth($font-size, 1);
        margin: 0 145px 8px 10px;

    }

    p {
    font-family:  nth($font-family, 3);
    font-size:  nth($font-size, 1);
    margin: 2px;
    color: nth($color, 7);
    margin: 0 170px 15px 10px;
    line-height : 17px;
    }

    .boton-recetas {
        @include sub-titulos(nth($font-family, 3), nth($font-size, 1), $aling);
        margin: 5px 8px;
        padding: 5px;
    }
}
}

/* Tablet */
@media only screen and (min-width:481px) and (max-width:768px) {
    .imagen-inicio {

        .item-imagen-inicio {
            width: 125%;
            margin-top: 90px;
        }

        h2 {
        @include titulos(nth($font-family, 4), nth($font-size, 6), $aling, $text-uppercase);
        padding: 40px 0 90px 0;
        }
    }

    .inicio-tienda {
        .boton-tienda {
            width: 30%;
        }
    }

    /* RECETAS */
.inicio-recetas {
    width: $ancho;
    padding: 70px 25px;

    h4 {
        font-size:  nth($font-size, 4);
        margin: 0 200px 20px 10px;

    }

    p {
    font-family:  nth($font-family, 3);
    font-size:  nth($font-size, 2);
    margin: 2px;
    color: nth($color, 7);
    margin: 0 210px 25px 10px;
    line-height : 17px;
    }

    .boton-recetas {
        @include sub-titulos(nth($font-family, 3), nth($font-size, 9), $aling);
        margin: 5px 8px;
        padding: 6px;
    }
}
  }
  /* Fin Media Querys Header */