$color:
#49ad34,
#377831,
#ef7c19,
#c6631b,
#7d60f5,
#9dc691,
#182226,
#FFFFFF,
#f4bf97;

$font-size:
1.5rem,
2rem,
2.2rem,
2.5rem,
3rem,
3.5rem,
6rem,
7rem,
1.8rem;

$font-family:
"nunito-light",
"nunito-regular",
"nunito-semibold",
"nunito-bold",
"nunito-bold-italic",
"nunito-extrabold";