/* Tipografías */
@font-face {
font-family: "nunito-light";
src: url("../font/Nunito-Light.ttf");
}

@font-face {
font-family: "nunito-regular";
src: url("../font/Nunito-Regular.ttf");
}

@font-face {
font-family: "nunito-semibold";
src: url("../font/Nunito-SemiBold.ttf");
}

@font-face {
font-family: "nunito-bold";
src: url("../font/Nunito-Bold.ttf");
}

@font-face {
font-family: "nunito-bold-italic";
src: url("../font/Nunito-BoldItalic.ttf");
}

@font-face {
font-family: "nunito-extrabold";
src: url("../font/Nunito-ExtraBold.ttf");
}
/* Fin Tipografías */